* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

h1 {
    font-size: 1.5em;
}
/*===========================================================*/
.Obscurus {
    background-image: linear-gradient(20deg, #16002E, #2b005a);
    color: #ffffc5;
    padding: 10px;
    display: flex;
}
/*==========================================================*/
.Ignius {
    background-color: ;
}