* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

h1 {
    font-size: 1.5em;
}
/*===========================================================*/
.Obscurus {
    background-image: linear-gradient(20deg, #16002E, #2b005a);
    justify-content: space-between;
    color: #ffffc5;
    padding: 10px;
    display: flex;
}

.sec1 {
    text-align: center;
    text-shadow: 0 0 5px;
}

.sec2 button{
    color: #ffffc5;
    background-color: #16002E;
    margin: 10px;
    padding: 10px;
    border: none;
    transition: 1ms;
}

.sec2 button:hover {
    border-left: 3px solid gold;
    border-radius: 5px 0 0 10px;
}
/*==========================================================*/
.Ignius {
    background-color: #2b005a;
    color: #ffffc5;
}