* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Obscurus {
    background-image: radial-gradient(circle, #16002E, #0E001C);
    display: flex;
    align-items: center;
}

.Obscurus .sec1 {
    text-align: center;
    color: #ffebcd;
    padding: 5px;
    border-right: 5px solid gold;

    text-shadow: 0 0 2px #ffebcd;
}

.Obscurus .sec2 {
    width: 100%;
    text-align:center;

    padding: 5px;
    border-bottom: 3px solid gold;
    border-top: 3px solid gold;
}

.Obscurus .sec2 button {
    margin: 0 10px 0 10px;
    padding: 5px;
    background-color: #16002E;
    border: none;
    color:#ffebcd;
    font-size: 1em;

    transition: 0.5s;
}

.Obscurus .sec2 button:hover {
    background-color: #0E001C;
    border-left: 2px solid gold;
}

/*================================================*/